= render "search/search_bar"

.row
  .col-md-12
    %h1
      = t("h.user_search_query")
      = @query
      %small Page #{@page}

.row
  .col-md-8
    / %h2
    /   Username
    /   %small
    /     Screen name
    / %h6 Description
    &nbsp;
  .col-md-1
    %strong
      = t("th.tweets")
  .col-md-1
    %strong
      = t("th.following")
  .col-md-1
    %strong
      = t("th.followers")
  .col-md-1
    %strong
      = t("th.favorites")

%hr

- @results.each do |result|
  .row
    .col-md-8
      %h2
        = result["name"]
        %small
          = screen_name_link result["screen_name"]
      - unless result["description.blank?"]
        %h6
          = result["description"]
    .col-md-1
      = number_with_delimiter result["statuses_count"]
    .col-md-1
      = number_with_delimiter result["friends_count"]
    .col-md-1
      = number_with_delimiter result["followers_count"]
    .col-md-1
      = number_with_delimiter result["favourites_count"]
  %hr


/ %table
/   %tr
/     %th Name
/     %th Screen name
/     %th Description
/     %th
/       Statuses
/       %br
/       Friends

/   - @results.each do |result|
/     %tr
/       %td
/         = result.name
/       %td
/         = result.screen_name
/       %td
/         = result.description
/       %td
/         = result.statuses_count
/         %br
/         = result.friends_count
/     %tr
/       %td{colspan: 4}
/         %hr



%ul.pagination.pagination-right
  - unless @page == 1
    %li
      %a{href: search_people_path(query: @query, page: @page - 1), "data-method" => :post} Previous
  %li
    %a{href: search_people_path(query: @query, page: @page + 1), "data-method" => :post} Next
