= render "search/search_bar"

.row
  .col-md-12
    %h1
      = t("label.#{@result_type}")
      = t("h.tweet_search_query")
      = @query
      %small #{@results.count} Results

%br

%table.table.table-hover
  %tr
    %th
      = t("th.screen_name")
    %th
      = t("th.tweet")
    %th
      = t("th.timestamp")
    %th
      = t("th.retweets")
    %th
      = t("th.favorites")

  - @results.each do |result|
    %tr{"link-to" => status_url(result.fetch("user", {})["screen_name"], result["id"])}
      %td
        = screen_name_link result.fetch("user", {})["screen_name"], user_tooltip_options(result.fetch("user", {}))
      %td
        = auto_link(result["text"].dup, target: "_blank").html_safe
      %td
        = t("time.ago", time: time_ago_in_words(result["created_at"]).capitalize)
      %td
        = result["retweet_count"]
      %td
        = result["favorite_count"]
